<%= simple_form_for([car, booking]) do |f| %>
  <% if booking.errors.any? %>
    <div class="errors-container">
      <ul>
        <% booking.errors.full_mesages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :total_amount, disabled: true, input_html: {value: '1'}%>
  <%= f.button :submit, class: "btn btn-success" %>
  <%= link_to 'Back', cars_path, class: 'btn btn-primary' %>
<% end %>
<input id="daily_amount" type="text" value=<%= car.daily_amount %> hidden>

