<h1>All fancy cars in here!</h1>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @cars.each do |car| %>
  <li>
    <%= car.model %>
    <%= car.brand %>
    <%= link_to 'See details', car_path(car.id) %>
  </li>
<% end %>

<%= link_to 'Create', new_car_path %>

<h5><%= link_to 'Home', root_path %></h5>
