<div class="container">
  <div class="col-12 mt-3">
<div class="card-category parent" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @car.photo %>)">
  <h1><%= @car.brand + " " + @car.model %></h1>
</div>
<div class= "edit">
   <% if @car.user == current_user %>
    <%= link_to image_tag('pencil.png'), edit_car_path(@car.id) %>
    <%= link_to image_tag('bin.png'), car_path(@car), method: :delete%>
  <% end %>
</div>
<div class="child">
  <% unless current_user.nil? %>
    <% if @user.car_wishes.where(car: @car).size > 0 %>
      <%= link_to image_tag('favorite.svg'), car_wish_path(id: @user.car_wishes.where(car: @car).first), method: :delete %>
    <% else %>

      <%= link_to image_tag('favorite_add.svg'), car_wishes_path(car_id: @car.id), method: :post%>
    <% end %>
  <% end %>
</div>
<div  class="my-3">
  <div class="d-flex justify-content-between">
    <div class="desc-container col-8">
      <h5><strong>Description:</strong></h5>
      <p><%= @car.car_description %></p>
      <p><strong>Location:</strong> <%= @car.car_location %></p>
    </div>
    <div class="info-container col-4">
      <p> <strong>Year:</strong> <%= @car.year %></p>
      <p> <strong>Category:</strong> <%= @car.category %></p>
      <p> <strong>Daily Amount:</strong> $<%= @car.daily_amount %></p>
      <p> <strong>Owner:</strong> <%= link_to "#{@car.user.first_name} #{@car.user.last_name}", profile_path(@car.user) %></p>
      <% unless current_user.nil? %>
        <%= link_to 'Book Now', new_car_booking_path(@car), class: 'mr-3 btn btn-primary btn-block btn-large' %>
      <% end %>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 150px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="d-flex mt-3">
  <%= link_to 'Back', cars_path, class: 'mr-3 btn btn-secondary' %>
</div>
</div>
</div>
