<div class="container">
      <div class="col-12 mt-3">
<div class="d-flex">
  <div>
    <% unless current_user.photo.filename.nil? %>
      <%= cl_image_tag @user.photo, height: 200, width: 200, crop: "fill", class: "rounded-lg" %>
    <% end %>
  </div>
  <div class="ml-3">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h4> Email: <%= @user.email %> </h4>
    <h4> Address: <%= @user.address %> </h4>
    <h5>Description: <%= @user.user_description %> </h5>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 150px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class = "d-flex mt-3">
  <!-- Wish -->
  <div class="flex-fill">
    <div class="list-group">
      <h6 class="list-group-item list-group-item-action active">Wish List</h6>
      <% if @user.car_wishes.size > 0 %>
        <% @user.car_wishes.each do |wish| %>
          <%= link_to wish.car.model, car_path(wish.car_id), class: "list-group-item list-group-item-action" %>
        <% end %>
      <% else %>
        <p class="list-group-item">No wishes :(</p>
      <% end %>
    </div>
  </div>

  <!-- bookings -->
  <div class = "flex-fill ml-3">
    <ul class="list-group" >
      <h6 class="list-group-item list-group-item-action active">Bookings</h6>
        <% if @user.bookings.size > 0 %>
          <% @user.bookings.each do |book| %>
            <li class="list-group-item">
              From: <%= book.start_date %>
              To: <%= book.end_date %>
              Car: <%= link_to book.car.model, car_path(book.car_id) %>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item"> No bookings :(</li>
        <% end %>
    </ul>
  </div>

  <!-- My Cars -->
  <div class="flex-fill ml-3">
    <div class="list-group">
      <h6 class="list-group-item list-group-item-action active">My cars</h6>
      <% if @user.cars.size > 0 %>
        <% @user.cars.each do |car| %>
          <%= link_to car.model, car_path(car.id), class: "list-group-item list-group-item-action" %>
        <% end %>
      <% else %>
        <p class="list-group-item">No Cars :(</p>
      <% end %>
    </div>
  </div>

</div>

<%= link_to "Edit profile", edit_user_registration_path, class: "mt-3 btn btn-secondary btn-block" %>
</div>
</div>
